img.side {
  float: left;
  margin: 10px;
  width: 120px;
}

div.border-round {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dae2e6;
  border-radius: 10px;
  background-color: #f7f9fa;
}
