img.side {
  float: left;
  margin: 10px;
  width: 150px;
}

img.portfolio {
  float: left;
  width: 100;
  margin: 10px;
}

div.border-round {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dae2e6;
  border-radius: 10px;
  background-color: #f7f9fa;
}
