.border-round {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dae2e6;
  border-radius: 10px;
  background-color: #f7f9fa;
  clear: both;
}

.gallery {
  clear: both;
  display: inline-block;
  width: 100%;

  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}

.cell {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #267CB9;
  color: #267CB9;
  text-align: center;
  font-size: 11px;
  width: 400px;
  display: inline;
  margin-right: 10px;
}

.portfolio {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.side {
  float: left;
  margin: 0 20px 0 0;
  width: 150px;
}

.thumbnail {
  width: 47%;
  height: 300px;
  text-align: center;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  border: 1px solid #dae2e6;
  border-radius: 10px;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
}

.short {
  height: 160px;
}

.short img {
  width: 100%;
}

.regular {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
}

.hide {
  display: none;
}

.show:hover + .hide {
  display: block;
  font-size: 11px;
}

/* title grid */
.title {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.name { 
  grid-area: 1 / 1; 
}

.logo { 
  grid-area: 1 / 2 /4;
  float: right; 
}

/* menu button */
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}


/* Glow Effect button */
.glow-on-hover {
  width: 100%;
  height: 40px;
  outline: none;
  color: #727272;
  font-size: 11px;
  letter-spacing: 2px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: none;
  /* border-radius: 10px;
  border: 1px solid #dae2e6; */
}

.glow {
  background: none;
  border: none;
  border-radius: 0px;
  background-color: #267cb9;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #267cb97a, #267cb9b3,#267cb9fc, #267cb9d9, #267cb96b, #267cb9bd);
  position: absolute;
  top: -1px;
  left:-1px;
  background-size: 200%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: glowing 20s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
  opacity: 0;
  transition: opacity .25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  /* border-radius: 10px; */
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  /* border-radius: 10px; */
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* end of glow-effect button */


